# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
etcd
nodes
loadbalancers

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=cloud-user
ansible_become=yes

debug_level=2

# Create an OSEv3 group that contains the masters and nodes groups
# host group for masters
[masters]
{% for ip, hostname in master_details.items() %}
{{ hostname }}
{% endfor %}

[etcd]
{% for ip, hostname in master_details.items() %}
{{ hostname }}
{% endfor %}

[loadbalancers:children]
loadbalancers_controlplane
loadbalancers_dataplane

[loadbalancers_dataplane:children]
loadbalancers_internet_dataplane
{% if multinetwork %}
loadbalancers_net2_dataplane
{% endif %}

[loadbalancers_controlplane]
{% for ip, hostname in control_plane_details.items() %}
{{ hostname }}
{% endfor %}

[loadbalancers_internet_dataplane]
{% for ip, hostname in data_plane_internet.items() %}
{{ hostname }}
{% endfor %}

[loadbalancers_net2_dataplane]
{% if multinetwork %}
{% for ip, hostname in data_plane_net2.items() %}
{{ hostname }}
{% endfor %}
{% endif %}

[dns]
{% for ip, hostname in control_plane_details.items() %}
{{ hostname }}
{% endfor %}

[dns_net2:children]
{% if multinetwork %}
loadbalancers_net2_dataplane
{% endif %}

# host group for nodes, includes region info
# Routers are placed only on first 3 workers
[nodes:children]
nodes_internet
nodes_infra
{% if multinetwork %}
nodes_net2
{% endif %}

[nodes_internet]
{% for ip, hostname in master_details.items() %}
{{ hostname }} openshift_node_group_name='node-config-master'
{% endfor %}
{% if worker_details_internet != None %}
{% for ip, hostname in worker_details_internet.items() %}
{{ hostname }} openshift_node_group_name='node-config-compute'
{% endfor %}
{% endif %}

[nodes_infra]
{% for ip, hostname in infrastructure_node_details.items() %}
{{ hostname }} openshift_node_group_name='node-config-infra'
{% endfor %}

[nodes_net2]
{% if multinetwork %}
{% for ip, hostname in worker_details_net2.items() %}
{{ hostname }} openshift_node_group_name='node-config-compute-net2'
{% endfor %}
{% endif %}

# groups to capture all of the hosts with connectivity to each network connection
[internet_all:children]
loadbalancers_controlplane
loadbalancers_internet_dataplane
nodes_internet
nodes_infra

[net2_all:children]
loadbalancers_net2_dataplane
nodes_net2
